/* FUENTES */

@font-face {
  font-family: "Netto Pro";
  src: url("./assets/NettoPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Netto Pro";
  src: url("./assets/NettoPro-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Netto Pro";
  src: url("./assets/NettoPro-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Netto Pro";
  src: url("./assets/NettoPro-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Netto Pro";
  src: url("./assets/NettoPro-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Netto Pro";
  src: url("./assets/NettoPro-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Netto Pro";
  src: url("./assets/NettoPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Netto Pro";
  src: url("./assets/NettoPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Netto Pro";
  src: url("./assets/NettoPro-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Netto Pro";
  src: url("./assets/NettoPro-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

/* FUENTE INTER */

@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* ESTANDARIZACION DEL CSS */
:root {
  text-align: justify;
  scroll-behavior: smooth;
  font-size: 62.5%;
  /* Colocar la fuente exportada */
  font-family: "Netto Pro", "Inter", sans-serif;
  --azul: #004a96;
  --gris: #e1e1e1;
  --naranja: #ff9900;
  --blanco: #ffffff;
  box-sizing: border-box;
}

body {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.padding-0-20 {
  padding: 0 20px;
}

h2 {
  font-size: 2.5rem;
  color: var(--azul);
  font-weight: 700;
  margin: 0;
}

h3 {
  font-size: 2.3rem;
  margin: 16px 0 8px 0;
  font-weight: 800;
}

h4 {
  font-size: 1.8rem;
  font-weight: 600;
}

h5 {
  font-size: 1.6rem;
  color: var(--azul);
  line-height: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 10px 0px;
}

main {
  position: relative;
}

li::marker {
  font-size: 2rem;
}
/* MEJORA PARA EL DESPLAZAMIENTO CON LINKS */
section {
  position: relative;
}

.linea-superior-seccion {
  visibility: hidden;
  position: relative;
  top: -131px;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--blanco);
}

nav {
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--gris);
  max-width: 1440px;
  margin: 0 auto;
}

#navbar-desktop {
  display: none;
}

#nav-logo {
  width: auto;
  height: 50px;
}
.div-hamburguesa-idioma {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-hamburguesa-idioma a {
  color: var(--azul);
  font-size: 1.3rem;
  padding: 5px;
  border: 1px solid var(--azul);
  border-radius: 3px;
  margin-bottom: 7px;
  font-weight: 500;
}

.div-hamburguesa-idioma a:hover {
  transform: scale(1.1);
  color: var(--naranja);
  transition: all 500ms ease;
  border-color: var(--naranja);
}

/* .bandera-idioma img {
  width: 20px;
  position: fixed;
  top: 10px;
  right: 5px;
} */

.bandera-idioma img:hover {
  transform: scale(1.2);
  transition: all 500ms ease;
}

#nav-menu {
  width: auto;
  height: 30px;
  cursor: pointer;
}

#nav-menu:hover {
  transform: scale(1.15);
  transition: all 500ms ease;
}

/* MENU DESPLEGABLE */
#menu-desplegable ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1.8rem;
  color: var(--azul);
  display: block;
  z-index: 100;
  width: 80vw;
  background-color: var(--blanco);
  position: fixed;
  top: 88px;
  transition: all 1200ms ease;
  transform: translateX(100vw);
}

#btn-menu:checked + #menu-desplegable ul {
  transform: translateX(20vw);
}

/* #menu-desplegable label {
  position: absolute;
  left: 0;
  width: 80vw;
  background-color: var(--blanco);
  color: var(--azul);
  padding: 12px;
  border-bottom: 1px solid var(--gris);
  border-left: 2px solid var(--azul);
  margin-bottom: 3px;
  box-sizing: border-box;
  cursor: pointer;
  background-color: var(--blanco);
  text-transform: uppercase;
  font-weight: bold;
}

#menu-desplegable label:hover {
  color: var(--naranja);
  border-left: 3px solid var(--naranja);
  border-bottom: 1px solid var(--naranja);
  transition: all 500ms ease-in;
  transform: scale(1.05);
} */
#menu-desplegable p {
  padding: 12px;
  border-bottom: 1px solid var(--gris);
  border-left: 2px solid var(--azul);
  margin: 0 0 3px 0;
  background-color: var(--blanco);
  text-transform: uppercase;
  cursor: pointer;
}

#menu-desplegable p:hover {
  color: var(--naranja);
  border-left: 3px solid var(--naranja);
  border-bottom: 1px solid var(--naranja);
  transition: all 500ms ease-in;
  transform: scale(1.05);
}

#menu-desplegable b {
  margin-left: 25px;
}

#btn-menu {
  display: none;
}

#menu-desplegable ul > a {
  display: block;
  text-decoration: none;
  color: var(--azul);
  transition: all 500ms ease;
  padding: 12px;
  border-bottom: 1px solid var(--gris);
  border-left: 2px solid var(--azul);
  margin-bottom: 3px;
  background-color: var(--blanco);
  text-transform: uppercase;
}

#menu-desplegable a:hover {
  color: var(--naranja);
  border-left: 3px solid var(--naranja);
  border-bottom: 1px solid var(--naranja);
  transition: all 500ms ease-in;
  transform: scale(1.05);
}
#menu-desplegable .btn-contacto-menu-desplegable {
  margin-bottom: 0;
}

#li-seleccion-idioma {
  color: var(--azul);
  transition: all 500ms ease;
  padding: 12px;
  border-left: 2px solid var(--azul);
  border-bottom: 1px solid var(--gris);
  margin-bottom: 3px;
  cursor: pointer;
  background-color: var(--blanco);
}

#li-seleccion-idioma:hover {
  color: var(--naranja);
  border-left: 3px solid var(--naranja);
  border-bottom: 1px solid var(--naranja);
  transition: all 500ms ease-in;
  transform: scale(1.05);
}

#li-seleccion-idioma a:hover {
  border-left: none;
  border-bottom: none;
}

#menu-desplegable img {
  width: 35px;
  margin: 10px 10px 3px 10px;
}

#menu-desplegable img:hover {
  width: 40px;
  height: auto;
  margin-bottom: -2px;
  transition: all 500ms ease;
}

/* MAIN */

/* SECCION INICIO */

/* TITULO PRINCIPAL */

#seccion-inicio + .linea-separacion-secciones {
  margin-top: 0px;
}

#seccion-inicio {
  scroll-behavior: smooth;
  background-color: #505454;
  background-image: url(./img/bg-portada.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.contenedor-principal {
  height: calc(100vh - 88px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 88px;
}

h1 {
  font-size: 3.8rem;
  font-weight: 500;
  color: var(--azul);
  margin: 0;
}

/* CONTENEDOR IMAGEN DEL PRODUCTO DE INICIO */

#seccion-inicio img {
  display: block;
  width: 90%;
  margin: 0 auto;
  max-width: 700px;
  box-sizing: border-box;
}
#seccion-inicio #img-inicio-desktop {
  display: none;
}

#seccion-inicio .boton-contactenos {
  order: 3;
  z-index: 10;
  margin-left: 20px;
}

/* BOTON DE CONTACTENOS */
#boton-inicio-desktop {
  display: none;
}

.boton-contactenos {
  display: inline-block;
  font-size: 1.5rem;
  color: var(--blanco);
  background-color: var(--azul);
  padding: 12px 32px;
  border-radius: 6px;
  font-weight: 400;
  box-sizing: border-box;
  transition: all 500ms ease;
  width: fit-content;
}

.boton-contactenos:hover {
  transform: scale(1.05);
  background-color: var(--naranja);
  transition: all 500ms ease;
}

/* FIN SECCION INICIO */

.linea-separacion-secciones {
  width: 30%;
  height: 3px;
  background-color: var(--azul);
  margin: 44px auto;
  border-radius: 5px;
}

/* SECCION QUIENES SOMOS */
#seccion-quienes-somos {
  scroll-behavior: smooth;
}

#seccion-quienes-somos p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
}

#seccion-quienes-somos > img {
  display: block;
  width: 100%;
  margin: 30px auto 20px auto;
  max-width: 520px;
}

/* SECCION CALIDAD */
#seccion-calidad {
  scroll-behavior: smooth;
}
#seccion-calidad p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  margin-bottom: 0;
}
.boton-politica-de-calidad {
  font-size: 1.6rem;
  color: var(--azul);
  font-weight: 500;
  margin: 25px 0;
  display: inline-block;
}

.boton-politica-de-calidad:hover {
  transform: translateX(30px);
  transition: all 500ms ease;
  color: var(--naranja);
}
#titulo-certificaciones {
  font-size: 2.2rem;
}
.div-certificaciones {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.div-certificaciones img {
  display: block;
  width: 45%;
  height: auto;
  max-width: 200px;
}

.div-certificaciones ul a {
  font-size: 1.5rem;
  color: var(--azul);
  display: block;
  margin-bottom: 10px;
  text-decoration: underline;
}

.div-certificaciones ul a:hover {
  transition: all 500ms ease;
  color: var(--naranja);
}
.div-logo-certificacion {
  display: flex;
  align-items: center;
  margin-top: 25px;
  justify-content: space-between;
}

.div-logo-certificacion ul {
  margin: 0px;
}

#seccion-calidad .div-caracteristicas-marca img {
  width: 50px;
  height: 50px;
  margin-top: 25px;
}

/* SECCION PRODUCTO */
#seccion-producto {
  scroll-behavior: smooth;
}

#seccion-producto > img {
  display: block;
  width: 100%;
  margin: 40px auto;
  max-width: 650px;
}
#seccion-producto > p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  margin: 0px auto 50px auto;
}
#seccion-producto ul {
  font-size: 1.5rem;
  line-height: 2.2rem;
  font-weight: 400;
}
#seccion-producto li {
  margin-bottom: 7px;
}

.tarjeta-caracteristica-producto {
  margin-top: 30px;
  margin-bottom: 70px;
}
.tarjeta-caracteristica-producto h5 {
  font-family: "Netto Pro";
  margin-bottom: 5px;
  font-size: 1.7rem;
}

.tarjeta-caracteristica-producto img {
  display: block;
  width: 60%;
  margin-top: 15px;
  border-radius: 8px;
  max-width: 280px;
}

.tarjeta-caracteristica-producto p {
  font-family: "Netto Pro";
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.2rem;
  margin: 0;
}

.producto-par img {
  margin-left: auto;
}

.producto-par {
  text-align: right;
}

#seccion-producto a {
  font-family: "Netto Pro";
  font-size: 1.6rem;
  color: var(--azul);
  font-weight: 500;
  margin: 50px 0;
  display: inline-block;
}

#seccion-producto a:hover {
  transform: translateX(30px);
  transition: all 500ms ease;
  color: var(--naranja);
}

/* SECCION SERVICIO TECNICO */
#seccion-servicio-tecnico {
  scroll-behavior: smooth;
}
#seccion-servicio-tecnico #contenedor-imagen {
  display: none;
}

#seccion-servicio-tecnico-texto > img {
  width: 50px;
  height: 50px;
  margin-top: 25px;
}

#seccion-servicio-tecnico ul {
  font-size: 1.5rem;
  line-height: 2.2rem;
  font-weight: 400;
}
#seccion-servicio-tecnico li {
  margin-bottom: 7px;
}

#seccion-servicio-tecnico p {
  font-size: 1.6rem;
  line-height: 2.3rem;
}

#seccion-servicio-tecnico h5 {
  color: black;
}
#seccion-servicio-tecnico #div-datos-de-contacto a {
  font-size: 1.4rem;
  font-weight: normal;
}

/* SECCION CONTACTO */
#contenedor-decorativo {
  background-color: var(--azul);
  color: var(--blanco);
  padding: 35px 20px;
  max-width: 800px;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 10px;
}
#seccion-contacto {
  scroll-behavior: smooth;
}
#seccion-contacto h2 {
  color: var(--blanco);
  margin-bottom: 35px;
}

#seccion-contacto-texto > img {
  width: 25%;
  margin-bottom: 35px;
  max-width: 65px;
}

form {
  display: flex;
  flex-direction: column;
}

form > input {
  border-radius: 5px;
  margin-bottom: 13px;
  padding: 10px;
  border: none;
  font-family: "Netto Pro", "Inter", sans-serif;
  font-size: 1.4rem;
}

form > input::placeholder {
  color: #7c7c7c;
}

form > input:focus {
  transform: scale(1.05);
  transition: all 500ms ease;
}

textarea {
  border-radius: 5px;
  padding: 10px;
  font-family: "Netto Pro", "Inter", sans-serif;
  margin-bottom: 15px;
  resize: none;
  height: 150px;
  overflow-y: visible;
  font-size: 1.4rem;
}

textarea::placeholder {
  color: #7c7c7c;
}

textarea:focus {
  transform: scale(1.05);
  transition: all 500ms ease;
}
#seccion-contacto h5 {
  color: var(--blanco);
  text-transform: capitalize;
  margin-top: 35px;
  font-size: 1.7rem;
  font-weight: 400;
}

#seccion-contacto a {
  color: var(--blanco);
}

#div-botones-radio {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

#div-botones-radio input {
  margin: 0 5px 0 0;
  width: 11px;
  border: 0px;
}

#div-botones-radio label {
  font-size: 1.3rem;
  display: flex;
  margin-bottom: 15px;
  font-weight: 200;
  margin-right: 10px;
  cursor: pointer;
}

#div-botones-radio label:hover {
  color: var(--naranja);
  transition: all 500ms ease;
}

form > button {
  font-family: "Netto Pro", "Inter", sans-serif;
  font-size: 1.4rem;
  padding: 12px 32px;
  background-color: var(--blanco);
  border: none;
  color: var(--azul);
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}

form > button:hover {
  background-color: var(--naranja);
  color: var(--blanco);
  transform: scale(1.05);
  transition: all 500ms ease;
}

#div-datos-de-contacto {
  display: flex;
  flex-direction: column;
}
.div-mail-contacto {
  display: flex;
  margin-bottom: 15px;
  font-size: 1.4rem;
  font-weight: 300;
  align-items: center;
  color: var(--blanco);
}

.div-mail-contacto p {
  margin: 0;
}

.div-mail-contacto p:hover {
  color: var(--naranja);
  transition: all 500ms ease;
}

#div-datos-de-contacto a {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 1.4rem;
  font-weight: 300;
}

#div-datos-de-contacto a:hover {
  transform: scale(1.05);
  transition: all 500ms ease;
  color: var(--naranja);
}

#div-datos-de-contacto > img {
  display: none;
}

#div-datos-de-contacto img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/* FOOTER */
footer {
  background-color: var(--azul);
  padding: 35px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 45px;
}

footer h6 {
  color: var(--blanco);
  font-size: 1.5rem;
  font-weight: 500;
  margin: 15px 0px;
}
#div-leyenda-empresa {
  width: 100%;
}
#div-leyenda-empresa > a img {
  width: 50%;
  height: auto;
  max-width: 200px;
}

#div-leyenda-empresa > a img:hover {
  transform: scale(1.05);
  transition: all 500ms ease;
}

#div-leyenda-empresa > p {
  color: var(--blanco);
  font-size: 1.5rem;
  line-height: 2.3rem;
  font-weight: 300;
}

#div-leyenda-empresa > p b {
  font-size: 1.6rem;
}

#div-idioma {
  margin-bottom: 25px;
}

.links-footer {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  color: var(--blanco);
  margin-bottom: 15px;
  font-weight: 300;
}

.links-footer:hover {
  color: var(--naranja);
  transition: all 500ms ease;
}

#div-idioma img {
  width: 30px;
  margin-left: 5px;
}

#div-idioma img:hover {
  transform: scale(1.2);
  transition: all 500ms ease;
}

#div-redes {
  margin: 30px auto;
  width: 100%;
}

#div-redes img {
  width: 30px;
  margin-right: 25px;
}

#div-redes img:hover {
  transform: scale(1.2);
  transition: all 500ms ease;
}

#div-terminos-y-condiciones {
  margin-top: 45px;
}

#div-terminos-y-condiciones ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#div-terminos-y-condiciones a {
  text-decoration: underline;
}

#div-terminos-y-condiciones span {
  margin: 0 10px;
  font-size: 1.3rem;
  color: var(--blanco);
  font-weight: 500;
  margin-bottom: 15px;
}

iframe {
  display: block;
  width: 100%;
  height: 30vh;
  border-radius: 12px;
  margin-top: 20px;
}
#div-qr-afip + p {
  font-size: 1.3rem;
  color: var(--blanco);
  font-weight: 300;
  margin: 0px;
}
#div-qr-afip {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 25px 0px;
}
#img-afip {
  display: contents;
}

#img-afip img {
  width: 25%;
  max-width: 90px;
}

#img-afip img:hover {
  transform: scale(1.05);
  transition: all 500ms ease;
}

#link-whatsapp {
  position: fixed;
  bottom: 10px;
  right: 20px;
}

#link-whatsapp img {
  width: 40px;
  z-index: 100;
}

#link-whatsapp:hover {
  transform: scale(1.2);
  transition: all 500ms ease;
}

/* ACA

TERMINA 

EL DISEÑO

MOBILE

*/

/* MEDIA QUERIES */

/* DESDE 425px a 768px */

@media (min-width: 425px) {
  /* ESTANDARIZACIONES GENERALES */
  #link-whatsapp {
    right: 35px;
  }
  .padding-0-20 {
    padding: 0 35px;
  }

  #seccion-inicio .boton-contactenos {
    margin-left: 35px;
  }

  #contenedor-decorativo {
    padding: 35px;
  }

  nav {
    padding: 11px 35px;
  }

  footer {
    padding: 35px;
    justify-content: space-between;
  }

  #div-leyenda-empresa p {
    width: 70%;
  }

  #contenedor-decorativo {
    margin: 0 35px;
  }

  #seccion-inicio #img-inicio-mobile {
    max-width: 550px;
  }
  .div-logo-certificacion {
    justify-content: flex-start;
  }
  .div-logo-certificacion img {
    margin-right: 40px;
    max-height: 80px;
  }
  .width-1-de-3 {
    width: 33%;
  }
}

/* DESDE 768px a 1024px */
@media (min-width: 768px) {
  /* ESTANDARIZACIONES GENERALES */
  #menu-desplegable ul {
    display: none;
  }

  .linea-superior-seccion {
    top: -170px;
  }

  .padding-0-20 {
    padding: 0 50px;
  }

  nav {
    padding: 20px 50px;
    border: none;
  }

  #container-img-forma-trapecio {
    padding: 0 50px 0 0;
  }

  #navbar-desktop {
    display: block;
  }

  #div-h1 h1 {
    padding-top: 0;
    padding-right: 5px;
  }
  section {
    margin: auto;
  }

  /* HEADER */

  #navbar-desktop ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  #navbar-desktop a {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5rem;
    background-color: var(--azul);
    color: var(--blanco);
    justify-content: center;
    padding: 15px 0px;
    border-right: 1px solid var(--blanco);
    flex-grow: 1;
  }

  #navbar-desktop a:hover {
    background-color: var(--naranja);
    transition: all 500ms ease;
  }

  #navbar-desktop #link-contacto {
    border-right: none;
  }

  nav label {
    display: none;
  }

  /* SECCION INICIO */

  #seccion-inicio #img-inicio-desktop {
    display: block;
    padding: 0;
    max-width: 700px;
    margin: 0;
  }
  #seccion-inicio #img-inicio-mobile {
    display: none;
  }

  #seccion-inicio {
    background-image: url(./img/bg-portada-prueba.jpg);
  }
  .contenedor-principal {
    padding: 138px 0 0 0;
    align-items: center;
    flex-direction: row;
    height: calc(100vh - 137px);
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
  }

  #container-decorativo-producto-inicio {
    margin-bottom: 0;
  }

  #seccion-inicio .boton-contactenos {
    margin: 100px 0 0 50px;
  }

  #boton-inicio-desktop {
    display: block;
  }

  #boton-inicio-mobile {
    display: none;
  }
  #seccion-inicio img {
    width: 55%;
  }

  /* SECCION QUIENES SOMOS */
  #seccion-quienes-somos {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "top-seccion top-seccion"
      "img h2"
      "img p"
      "img div-calidad"
      "img div-compromiso"
      "img boton";
  }

  #seccion-quienes-somos > img {
    grid-area: img;
    padding-right: 20px;
    box-sizing: border-box;
    align-self: center;
  }

  #seccion-quienes-somos h2 {
    grid-area: h2;
  }

  #seccion-quienes-somos p {
    grid-area: p;
  }

  #seccion-quienes-somos .div-caracteristicas-marca img {
    width: 50px;
    height: 50px;
  }

  #seccion-quienes-somos .boton-contactenos {
    grid-area: boton;
  }

  #top-seccion-quienes-somos {
    grid-area: top-seccion;
  }

  /* SECCION PRODUCTO */

  #contenedor-caracteristicas-producto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
  }

  #seccion-producto h2 {
    order: -1;
  }

  .tarjeta-caracteristica-producto img {
    width: 100%;
    margin-right: auto;
    margin-left: 0;
  }

  .tarjeta-caracteristica-producto {
    text-align: left;
  }

  .producto-impar {
    margin-top: 50px;
    margin-bottom: 0px;
  }

  .producto-par {
    margin-top: 0;
    margin-bottom: 10px;
  }

  #seccion-producto a {
    margin: auto 0;
  }
  #seccion-producto > p {
    margin-bottom: 20px;
  }

  /* SECCION CALIDAD */

  #div-calidad {
    grid-area: div-calidad;
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    flex-direction: column;
  }
  #seccion-calidad .div-caracteristicas-marca img {
    margin: 0 10px 0 0;
    display: none;
  }

  /* SECCION SERVICIO TECNICO */
  #seccion-servicio-tecnico {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #top-seccion-servicio-tecnico {
    width: 100%;
  }

  #seccion-servicio-tecnico #contenedor-imagen {
    display: block;
    width: 40%;
    box-sizing: border-box;
    border-radius: 8px;
  }

  #contenedor-imagen img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 6px;
    max-width: 330px;
    margin-right: auto;
    margin-bottom: 25px;
  }

  #seccion-servicio-tecnico-texto {
    width: 60%;
    box-sizing: border-box;
    padding-left: 30px;
  }

  #seccion-servicio-tecnico-texto > img {
    display: none;
  }
  .div-servicios-empresa {
    width: 50%;
    margin-top: 25px;
  }
  .div-servicios-empresa ul {
    padding: 20px;
  }
  .div-servicios-empresa h4 {
    margin-top: 0px;
  }
  #seccion-servicio-tecnico #div-datos-de-contacto {
    align-self: flex-start;
    margin-top: 25px;
  }
  #seccion-servicio-tecnico #div-datos-de-contacto h5 {
    margin-top: 0px;
  }

  /* SECCION CONTACTO */
  #seccion-contacto {
    padding: 0 50px;
  }

  #contenedor-decorativo {
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  #seccion-contacto-texto > img {
    display: none;
  }

  #seccion-contacto-texto {
    order: 10;
    width: 55%;
    padding: 0 15px;
  }

  #seccion-contacto #div-datos-de-contacto {
    order: 1;
    padding: 15px;
    box-sizing: border-box;
    width: 45%;
  }
  iframe {
    width: 60%;
  }
  #div-datos-de-contacto #img-sobre-desktop {
    display: block;
    width: 40%;
    height: auto;
    max-width: 90px;
    position: relative;
    top: -25px;
  }

  /* FOOTER */
  footer {
    padding: 35px 50px 20px 50px;
  }
  #div-qr-afip + p {
    margin-top: 25px;
  }
  #div-qr-afip {
    width: 40%;
    margin: auto;
  }
  #img-afip img {
    width: 35%;
  }
}

/* SUPERIOR A 1024px */
@media (min-width: 1024px) {
  /* ESTANDARIZACIONES GENERALES */
  :root {
    font-size: 68%;
  }

  .linea-superior-seccion {
    top: -195px;
  }

  /* SECCION INICIO */

  section {
    max-width: 1024px;
  }

  #seccion-inicio {
    min-height: 550px;
    min-width: 100%;
  }

  h1 {
    font-size: 4.5rem;
    margin-bottom: 0px;
  }

  #seccion-inicio .boton-contactenos {
    margin: 20px 0 0 50px;
  }

  .linea-separacion-secciones {
    width: 10%;
    margin: 65px auto;
  }

  /* SECCION CALIDAD */

  #div-certificaciones-desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .div-certificaciones {
    width: 47%;
    align-self: self-start;
  }

  /* FOOTER */
  footer h6 {
    margin-top: 0px;
  }

  #div-leyenda-empresa {
    width: 20%;
    box-sizing: border-box;
    order: 1;
    max-width: 200px;
  }

  #div-leyenda-empresa p {
    width: 100%;
    font-size: 1.3rem;
  }

  #div-leyenda-empresa > a img {
    width: 100%;
  }

  .width-1-de-3 {
    width: 20%;
    box-sizing: border-box;
  }
  #div-idioma {
    order: 3;
  }
  #div-accesos-rapidos {
    padding: 0;
    order: 4;
  }
  #div-datos-de-contacto {
    order: 5;
  }
  iframe {
    border: 0;
    order: 6;
    width: 100%;
    box-sizing: border-box;
  }
  #div-qr-afip {
    order: 2;
    width: 20%;
    align-self: flex-start;
    margin: 0;
  }
  #div-qr-afip + p {
    order: 7;
  }
}

/* Created by tarantinolucas®. */
